@import './variables.scss';

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  // list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1800px;
  // min-width: 1200px;
  padding: 60px;
  margin: 0 auto;
}

.header {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  // min-width: 1200px;
  background-image: linear-gradient(
      180deg,
      rgba(22, 21, 22, 0.9) -7.87%,
      rgba(22, 21, 22, 0.6) 100%
    ),
    url(../src/img/mainBG.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $header_color;
}

.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8em;
  padding-bottom: 5em;
}

.header__content-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__content-item + .header__content-item {
  margin-top: 15px;
}

.social__bottom-block {
  display: flex;
  justify-content: end;
}

.social__bottom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  transition: scale 0.3s ease;

  &:hover {
    scale: (1.1);
  }
}

.phone__icon {
  margin-right: 20px;
  background-color: rgb(193, 51, 91);
}

.telegram__icon {
  margin-right: 20px;
  background-color: #34aadf;
}

.whatsapp__icon {
  background-color: #43d854;
}

.main {
  background-color: #f8f8f8;
  font-size: 1.2em;
  line-height: 1.2;
}

.about__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgb(51 51 51 / 5%), 0 1px 4px 0 rgb(51 51 51 / 15%);
  border-radius: 8px;
  text-align: justify;

  opacity: 0;
  transform: translateX(60px);
  transition: all 1.5s ease;

  img {
    border-radius: 8px;
    max-width: 50%;
  }
}

.about__item:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(-60px);
}

.about__item + .about__item {
  margin-top: 20px;
}

.about__item-text {
  padding: 10px 50px;
  text-indent: 10px;
  ul {
    padding-left: 26px;
    text-indent: 0;
  }
  * {
    margin-top: 10px;
  }
}

.danger {
  padding-top: 20px;
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 0.8em;

  .material-symbols-outlined {
    font-size: 24px;
    color: #cb0606;
  }
}

.table {
  margin-top: 30px;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgb(51 51 51 / 5%), 0 1px 4px 0 rgb(51 51 51 / 15%);
  border-radius: 8px;

  table {
    margin-top: 20px;

    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-right: 1px solid #ccc;
      }
    }
  }
}

.table__title {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: $footer_bg;
}

.footer__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: #f8f8f8;
}

.policy__link {
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.policy__link:hover {
  color: $active_color;
  border-color: $active_color;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-item + .contacts-item {
  margin-top: 15px;
}

.contacts-link {
  margin-left: 10px;
  transition: all 0.3s ease;
}

.bi {
  transition: fill 0.2s ease;
}

.contacts-item:hover {
  .bi {
    fill: $active_color;
  }

  .contacts-link {
    color: $active_color;
  }
}

/*  -----------Modal--------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f3f7f7;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  right: 15px;
  top: -10px;
  color: rgb(8, 8, 9);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 15px;
  transition: all 0.3s;
}

.close:hover,
.close:focus {
  color: #f2605b;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 30px;
}

.modal-body > .contacts {
  width: 100%;
  padding: 20px 0;
}

.modal__title {
  margin-bottom: 20px;
}

.contacts__inner {
  margin-top: 20px;

  h3,
  p {
    margin-top: 15px;
  }
}

@media (max-width: 1000px) {
  .header__content {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4em;
  }

  .header__content-list {
    margin-bottom: 2em;
  }
}

@media (max-width: 860px) {
  .container {
    padding: 40px;
  }

  .header__title {
    font-size: 42px;
  }

  .about__item {
    flex-direction: column-reverse;
    text-align: justify;
    padding: 20px;
  }

  .about__item:nth-child(odd) {
    flex-direction: column-reverse;
    text-align: justify;
  }

  .about__item-text {
    padding: 0;
  }

  .table {
    padding: 10px;
  }

  .footer__inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;

    p {
      order: -1;
    }
  }
}

@media (max-width: 560px) {
  .container {
    padding: 10px;
  }

  .main {
    font-size: 0.8em;
  }

  .header__title {
    margin-top: 20px;
    font-size: 32px;
  }

  .header__content {
    padding: 40px 0;
  }

  .table table {
    font-size: 1em;
  }

  .footer__inner {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .table table {
    font-size: 0.7em;
    line-height: 1;

    td {
      padding: 7px;
    }
  }

  .footer__inner,
  .modal-content {
    font-size: 0.8em;
  }
}

.element-show,
.element-show:nth-child(odd) {
  opacity: 1;
  transform: translateX(0);
}
