body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1800px;
  padding: 60px;
  margin: 0 auto;
}

.container:not(:last-child) {
  padding-bottom: 0;
}

.header {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(-7.87%, rgba(22, 21, 22, 0.9)),
      to(rgba(22, 21, 22, 0.6))
    ),
    url(../src/img/mainBG.webp);
  background-image: linear-gradient(
      180deg,
      rgba(22, 21, 22, 0.9) -7.87%,
      rgba(22, 21, 22, 0.6) 100%
    ),
    url(../src/img/mainBG.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f0efef;
}

.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 8em;
  padding-bottom: 5em;
}

.header__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.header__content-item + .header__content-item {
  margin-top: 15px;
}

.social__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.social__bottom-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  -webkit-transition: scale 0.3s ease;
  transition: transform 0.3s ease;
}
.social__bottom-icon:hover {
  transform: scale(1.2);
}

.phone__icon {
  margin-right: 20px;
  background-color: rgb(193, 51, 91);
}

.telegram__icon {
  margin-right: 20px;
  background-color: #f5f4f6;
  fill: #34aadf;
}

.facebook__icon {
  background-color: #f5f4f6;
  fill: #215fca;
}

.main {
  background-color: #f8f8f8;
  font-size: 1.2em;
  line-height: 1.2;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  border-radius: 8px;
  text-align: justify;
  opacity: 0;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.about__item img {
  border-radius: 8px;
  max-width: 50%;
}

.about__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-transform: translateX(-60px);
  transform: translateX(-60px);
}

.about__item + .about__item {
  margin-top: 20px;
}

.about__item-text {
  padding: 10px 50px;
  text-indent: 10px;
}
.about__item-text ul {
  padding-left: 26px;
  text-indent: 0;
}
.about__item-text * {
  margin-top: 10px;
}

.danger {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.8em;
}
.danger p {
  line-height: 1.4;
}
.danger .material-symbols-outlined {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 24px;
  color: #cb0606;
}

.table {
  margin-top: 30px;
  padding: 20px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  border-radius: 8px;
}
.table table {
  margin-top: 20px;
}
.table table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.table table td:first-child {
  border-right: 1px solid #ccc;
}

.table__title {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #060607;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #f8f8f8;
}

.policy__link {
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.policy__link:hover {
  color: #ff6b08;
  border-color: #ff6b08;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-item + .contacts-item {
  margin-top: 15px;
}

.contacts-link {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bi {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.contacts-item:hover .bi {
  fill: #ff6b08;
}
.contacts-item:hover .contacts-link {
  color: #ff6b08;
}

/*  -----------Modal--------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f3f7f7;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  position: absolute;
  right: 15px;
  top: -10px;
  color: rgb(8, 8, 9);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.close:hover,
.close:focus {
  color: #f2605b;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 30px;
}

.modal-body > .contacts {
  width: 100%;
  padding: 20px 0;
}

.modal__title {
  margin-bottom: 20px;
}

.contacts__inner {
  margin-top: 20px;
}
.contacts__inner h3,
.contacts__inner p {
  margin-top: 15px;
}

.form {
  -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05),
    0 1px 4px 0 rgba(51, 51, 51, 0.15);
  border-radius: 8px;
  padding: 50px;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../src/img/preloader.gif') center/70px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__item {
  margin-bottom: 20px;
}

.form__label {
  font-size: inherit;
  display: block;
  margin-bottom: 10px;
}

.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #5f9044;
  box-shadow: 0 0 15px #5f9044;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkbox__label {
  font-size: inherit;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: '';
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 24px;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 10px;
}

.checkbox__label::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #66be37;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.checkbox__label a {
  color: #66be37;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.checkbox__label a:hover {
  color: #de482e;
}

.form__button {
  max-width: 400px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  background-color: #5f9044;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0 5px 3px #888;
  box-shadow: 0 5px 3px #888;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #38755c;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 3px #888;
  box-shadow: 0 2px 3px #888;
}

.form__span {
  margin-top: 20px;
  font-size: inherit;
}

@media (max-width: 1000px) {
  .header__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 4em;
  }
  .header__content-list {
    margin-bottom: 2em;
  }
}
@media (max-width: 860px) {
  .container {
    padding: 40px;
  }
  .header__title {
    font-size: 42px;
  }
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: justify;
    padding: 20px;
  }
  .about__item:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: justify;
  }
  .about__item-text {
    padding: 0;
  }
  .table {
    padding: 10px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
  }
  .footer__inner p {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
@media (max-width: 560px) {
  .container {
    padding: 10px;
  }
  .main {
    font-size: 0.8em;
  }
  .header__title {
    margin-top: 20px;
    font-size: 32px;
  }
  .header__content {
    padding: 40px 0;
  }
  .table table {
    font-size: 1em;
  }
  .footer__inner {
    margin: 20px 0;
  }
  .form {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .table table {
    font-size: 0.7em;
    line-height: 1;
  }
  .table table td {
    padding: 7px;
  }
  .footer__inner,
  .modal-content {
    font-size: 0.8em;
  }
}
.element-show,
.element-show:nth-child(odd) {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
